doctype html
//
Escape Velocity by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Escape Velocity by HTML5 UP
    | &#x9;&#x9;
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/js/ie/html5shiv.js')
    | &#x9;&#x9;
    link(rel='stylesheet', href='/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
  | &#x9;
  body.homepage
    #page-wrapper
      // Header
      #header-wrapper.wrapper
        #header
          // Logo
          #logo
            h1
              a(href='index.html') Escape Velocity
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p A free responsive site template by HTML5 UP
          // Nav
          nav#nav
            ul
              li.current
                a(href='index.html') Home
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') Dropdown
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='#') Lorem ipsum
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Magna veroeros
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Etiam nisl
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Sed consequat
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    ul
                      li
                        a(href='#') Lorem dolor
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#') Amet consequat
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#') Magna phasellus
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#') Etiam nisl
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#') Sed feugiat
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Nisl tempus
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='left-sidebar.html') Left Sidebar
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='right-sidebar.html') Right Sidebar
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='no-sidebar.html') No Sidebar
      // Intro
      #intro-wrapper.wrapper.style1
        .title The Introduction
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        section#intro.container
          p.style1 So in case you were wondering what this is all about ...
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p.style2
            | Escape Velocity is a free responsive
            br.mobile-hide
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;site template by 
            a.nobr(href='http://html5up.net') HTML5 UP
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p.style3
            | It&apos;s 
            strong responsive
            | , built on 
            strong HTML5
            |  and 
            strong CSS3
            | , and released for
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;free under the 
            a(href='http://html5up.net/license') Creative Commons Attribution 3.0 license
            | , so use it for any of
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;your personal or commercial projects &ndash; just be sure to credit us!
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul.actions
            li
              a.button.style3.big(href='#') Proceed
      // Main
      .wrapper.style2
        .title The Details
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        #main.container
          // Image
          a.image.featured(href='#')
            img(src='images/pic01.jpg', alt='')
          // Features
          section#features
            header.style1
              h2 Dolor consequat feugiat amet veroeros
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p Feugiat dolor nullam orci pretium phasellus justo
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .feature-list
              .row
                .6u(class='12u(mobile)')
                  section
                    h3.icon.fa-comment Mattis velit diam vulputate
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .6u(class='12u(mobile)')
                  section
                    h3.icon.fa-refresh Lorem ipsum dolor sit veroeros
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .row
                .6u(class='12u(mobile)')
                  section
                    h3.icon.fa-picture-o Pretium phasellus justo lorem
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .6u(class='12u(mobile)')
                  section
                    h3.icon.fa-cog Tempus sed pretium orci
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .row
                .6u(class='12u(mobile)')
                  section
                    h3.icon.fa-wrench Aliquam consequat et feugiat
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .6u(class='12u(mobile)')
                  section
                    h3.icon.fa-check Dolore laoreet aliquam mattis
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                      | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions.actions-centered
              li
                a.button.style1.big(href='#') Get Started
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.button.style2.big(href='#') More Info
      // Highlights
      .wrapper.style3
        .title The Endorsements
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        #highlights.container
          .row(class='150%')
            .4u(class='12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/pic02.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3
                  a(href='#') Aliquam diam consequat
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p
                  | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.actions
                  li
                    a.button.style1(href='#') Learn More
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .4u(class='12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/pic03.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3
                  a(href='#') Nisl adipiscing sed lorem
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p
                  | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.actions
                  li
                    a.button.style1(href='#') Learn More
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .4u(class='12u(mobile)')
              section.highlight
                a.image.featured(href='#')
                  img(src='images/pic04.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h3
                  a(href='#') Mattis tempus lorem
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p
                  | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.actions
                  li
                    a.button.style1(href='#') Learn More
      // Footer
      #footer-wrapper.wrapper
        .title The Rest Of It
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        #footer.container
          header.style1
            h2 Ipsum sapien elementum portitor?
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .row(class='150%')
            .6u(class='12u(mobile)')
              // Contact Form
              section
                form(method='post', action='#')
                  .row(class='50%')
                    .6u(class='12u(mobile)')
                      input#contact-name(type='text', name='name', placeholder='Name')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .6u(class='12u(mobile)')
                      input#contact-email(type='text', name='email', placeholder='Email')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .row(class='50%')
                    .12u
                      textarea#contact-message(name='message', placeholder='Message', rows='4')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .row
                    .12u
                      ul.actions
                        li
                          input.style1(type='submit', value='Send')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          input.style2(type='reset', value='Reset')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .6u(class='12u(mobile)')
              // Contact
              section.feature-list.small
                .row
                  .6u(class='12u(mobile)')
                    section
                      h3.icon.fa-home Mailing Address
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      p
                        | Untitled Corporation
                        br
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1234 Somewhere Rd #987
                        br
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000-0000
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .6u(class='12u(mobile)')
                    section
                      h3.icon.fa-comment Social
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      p
                        a(href='#') @untitled-corp
                        br
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        a(href='#') linkedin.com/untitled
                        br
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        a(href='#') facebook.com/untitled
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .row
                  .6u(class='12u(mobile)')
                    section
                      h3.icon.fa-envelope Email
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      p
                        a(href='#') info@untitled.tld
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .6u(class='12u(mobile)')
                    section
                      h3.icon.fa-phone Phone
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      p
                        | (000) 555-0000
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        #copyright
          ul
            li &copy; Untitled
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='/js/jquery.min.js')
    | &#x9;&#x9;&#x9;
    script(src='/js/jquery.dropotron.min.js')
    | &#x9;&#x9;&#x9;
    script(src='/js/skel.min.js')
    | &#x9;&#x9;&#x9;
    script(src='/js/skel-viewport.min.js')
    | &#x9;&#x9;&#x9;
    script(src='/js/util.js')
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    | &#x9;&#x9;&#x9;
    script(src='/js/main.js')
